<div id="<%= dom_id exchange_rate %>">
  <p>
    <strong>From currency:</strong> <%= exchange_rate.from_currency %>
  </p>

  <p>
    <strong>To currency:</strong> <%= exchange_rate.to_currency %>
  </p>

  <p>
    <strong>Amount:</strong> <%= exchange_rate.amount %>
  </p>
</div>
